body {
  font-family: "Papyrus", fantasy;
  background-image: url("./assets/bg-light.png");
  background-position: left top;
  background-size: inherit;
  background-repeat: repeat;
  color: black;
  transition: all 0.5s ease-out;
}

body.dark-theme {
  background-image: url("./assets/bg-dark.png");
  color: white;
}

.nav-bg {
  /* background: rgb(5, 142, 170);
  background: linear-gradient(
    160deg,
    rgba(5, 142, 170, 1) 0%,
    rgba(35, 221, 172, 1) 100%
  ); */
  background: rgb(228, 228, 228);
  transition: background 0.5s ease-out;
}

.dark-theme .nav-bg {
  background: rgb(70, 70, 70);
}

.f-pink {
  color: pink;
}

.f-white {
  color: white;
}

.f-black {
  color: black;
}
